    <footer>
      <div class="container">
        <div class="row">
            <div class="copyright text-center">
              <small>&copy; 2014 IssueQz team. All Rights Reserved. </small>
            </div>
        </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/mainPage.js"></script>
  </body>
</html>