<% include _header.ejs %>

    <div class="about about-container">
      <div class="jumbotron">
        <div class="row">
          <div class="about-team text-center">
              <span class="glyphicon glyphicon-envelope"></span></br></br>
              <table class="table">
                <thead class="tablename">製作團隊</thead>
                <tbody>
                  <tr>
                    <td>王偉翰</td>
                    <td>陳耀宗</td>
                    <td>張庭瑜</td>
                  </tr> 
                </tbody> 
              </table>           
          </div>
        </div>
        <div class="row"> 
          <div class="about-future text-center">
              <span class="glyphicon glyphicon-refresh"></span></br></br>
              <table class="table">
                <thead class="tablename">未來展望</thead>
                <tbody>
                  <tr>
                    <td>功能增加</td>
                    <td>界面升級</td>
                    <td>遊戲進化</td>
                  </tr> 
                </tbody> 
              </table>   
            </div>
        </div>
      </div>
    </div><!-- end about-->

    
<% include _footer.ejs %>