<% include _header.ejs %>
        
    <!-- jumbotron -->
    <div class="event-div">
      <p id="event-info" class="large-red"></p>
      <div class="container hide" id="event-cotainer">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputEmail3" class="col-md-3 control-label">Topic</label>
            <div class="col-md-9">
            <h2 id="category">
            </h2>
            </div>

            <label for="inputEmail3" class="col-md-3 control-label">Q:</label>
            <div class="col-md-9">
            <p id="question">
            </p>
            </div>

            <label for="inputEmail3" class="col-md-3 control-label">A:</label>
            <div class="col-md-9">
            <p id="answer">
            </p>
            </div>

            <label for="inputEmail3" class="col-md-3 control-label">Explain:</label>
            <div class="col-md-9">
            <p id="explain">
            </p>
            </div>

            <label for="inputEmail3" class="col-md-3 control-label">Link:</label>
            <div class="col-md-9">
            <a id="link" target="_blank"></a>
            </div>

          </div>
          
        </form>
      </div>
    </div>
    <!-- end of jumbotron -->
    
<% include _footer.ejs %>
<script type="text/javascript">
  getUserQuestions();
</script>