<% include _header.ejs %>

    <!-- jumbotron -->
    <div class="jumbotron">
      <div class="container">
        <div class="row text-center">
          <h1>Hello <%=name%>! Welcome to <span>IssueQz</span></h1>
          <h3>get closer to <span>Society Movement</span></h3>
          <a class="btn btn-primary btn-lg" onclick='scrollToGameDiv()'>Have Fun!</a>
        </div>
      </div>
    </div>
    <!-- end of jumbotron -->

    <!-- services -->
    <div class="services">
      <div class="container">
        <div class="row">
          <div class="services-rev text-center col-md-4">
              <span class="glyphicon glyphicon-backward"></span>
              <h4>議題回顧</h4>
              <p>是否覺得資訊爆炸而讓你想關注的議題被淹沒了，或是好奇自己錯過了什麼、忽略了什麼可能影響我們的大事</p>
              <a href="#" class="more">learn more</a>
          </div>
          <!-- end services-review -->
          <div class="services-dis text-center col-md-4">
              <span class="glyphicon glyphicon-search"></span>
              <h4>深入探討</h4>
              <p>不知道該去哪裡找懶人包嗎，還是眾多版本讓你暈頭轉向，資訊的正確跟吸收資訊是同樣重要的！</p>
              <a href="#" class="more">learn more</a>
          </div>
          <!-- end services-dicuss -->
          <div class="services-tes text-center col-md-4">
              <span class="glyphicon glyphicon-ok"></span>
              <h4>小試身手</h4>
              <p>來試試看你對於公共議題的了解到底有多少！</p>
              <a href="#" class="more">learn more</a>
          </div>
          <!-- end services-test -->
        </div>
      </div>
    </div><!-- end services -->

    <!-- topics -->
    <div class="topics" id='topicsDiv'>
    
      <div class="heading text-center">
        <div class="container">
          <h1>Game Topics</h1>
        </div>
      </div><!-- end heading -->
    
      <div class="gallery clearfix">
        <div class="gallery-inner cropImg">
          <img src="/images/gallery/1.jpg" alt="thumbnail" class="img-responsive imgFill" /> 
          
          <div class="caption">
            <a href="game/nuclear" class='fill'>
              <div class="caption-heading visible-lg text-center">
                <div class="emptyDiv"></div>
                <h4>Nuclear</h4>
                <small>Oct 22, 2014</small>
                <p>
                  <span class="enter-font">Enter</span>
                </p>
              </div>
            </a>
          </div><!-- caption -->
        </div><!-- end gallery-inner -->
        
        <div class="gallery-inner cropImg">
          <img src="/images/gallery/2.jpg" alt="thumbnail" class="img-responsive imgFill" /> 
          
          <div class="caption">
            <a href="game/news" class='fill'>
              <div class="caption-heading visible-lg text-center">
                <div class="emptyDiv"></div>
                <h4>News</h4>
                <small>Oct 22, 2014</small>
                 <p>
                  <span class="enter-font">Enter</span>
                </p>
              </div>
            </a>
          </div><!-- caption -->
        </div><!-- end gallery-inner -->
        
        <div class="gallery-inner cropImg">
          <img src="/images/gallery/3.jpg" alt="thumbnail" class="img-responsive imgFill" /> 
          
          <div class="caption">
            <a href="game/international" class='fill'>
              <div class="caption-heading visible-lg text-center">
                <div class="emptyDiv"></div>
                <h4>International</h4>
                <small>Oct 22, 2014</small>
                <p>
                    <span class="enter-font">Enter</span>
                </p>
              </div>
            </a>
          </div><!-- caption -->
        </div><!-- end gallery-inner -->
        
        <div class="gallery-inner cropImg">
          <img src="/images/gallery/4.jpg" alt="thumbnail" class="img-responsive imgFill" /> 
          
          <div class="caption">
            <a href="game/fun" class='fill'>
              <div class="caption-heading visible-lg text-center"> 
                <div class="emptyDiv"></div>
                <h4>Fun</h4>
                <small>Oct 22, 2014</small>
                <p>
                  <span class="enter-font">Enter</span>
                </p>
              </div>
            </a>
          </div><!-- caption -->
        </div><!-- end gallery-inner -->
      </div><!-- end gallery -->
    </div><!-- end topics -->

<% include _footer.ejs %>