<% include _header.ejs %>

<div id="profile-div">

</div>

<!-- jumbotron -->
<div class="jumbotron">
<div class="container">
  <table class="table table-hover">
    <thead>
      <th>#</th>
      <th>Name</th>
      <th>Events</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Ralph</td>
        <td>Enter this website on 0602</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Grass</td>
        <td>Enter this website on 0603</td>
      </tr>
    </table>
  </div>
</div>
<!-- end of jumbotron -->

<% include _footer.ejs %>

<script type="text/javascript">
    getUser();
</script>