<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>IssueQZ</title>
	<!--CSS-->
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/questionGame.css">
	<link rel="stylesheet" href="/stylesheets/animate.css">
	<link rel="stylesheet" href="/stylesheets/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/icomonn.css">
	<script type="text/javascript">
		var category = "<%= category %>";
	</script>
</head>
<body onload="initGame()">
	<div id="wrapper" class="center-block">
		<!-- Nav bar -->
		<!-- <nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		   
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">IssueQZ</a>
		    </div>

		    
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right"> 
		        <li class="dropdown">
		            <li><a data-toggle="modal" data-target="#addNewQuestionModal">Add New Question</a></li>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav> -->

		<canvas id="gameStage" width="1480" height="250"></canvas>
		<!-- Time counter-->
		<div>
			<div id="lifebar" class='game-lifebar'></div>
			<div id="timeCounterDiv" class="ccounter">
				<input class="knob second" data-width="100" data-min="0" data-max="30" data-displayPrevious=true data-fgColor="#ff003c" data-readOnly="true" value="0" data-bgcolor="#eee">
			</div>
		</div>
		<!-- Question Panel -->
		<div id="questionContainer">
		</div>
		
		<!-- Answer Modal -->
		<div class="modal fade" id="correctAnswerModal">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Answer</h4>
		      </div>
		      <div class="modal-body">
		        <p>Correct!</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="modal fade" id="wrongAnswerModal">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Answer</h4>
		      </div>
		      <div class="modal-body">
		        <p>Wrong!</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<!-- Modal -->
		<div class="modal fade" id="addNewQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Add New Question</h4>
		      </div>
			      <div class="modal-body">
			      	<p> *Question: </p>
			        <textarea class="form-control" id='addQuestionTitle' rows="3" value="question">
			        </textarea>
			        <div>
				        <p> *Answer: 
							<select id='addQuestionAnswer'>
								<option value='A'>A</option>
								<option value='B'>B</option>
								<option value='C'>C</option>
								<option value='D'>D</option>
							</select>
							*Category: 
							<select id='addQuestionCategory'>
								<option value='nuclear'>核能</option>
								<option value='trade'>服貿</option>
								<option value='city'>都更</option>
								<option value='economy'>自經區</option>
							</select>

				        </p>
				        <span>(A)<input type="text" class="form-control" placeholder="Title" id="addQuestionAnswer1"></span>
				        <span>(B)<input type="text" class="form-control" placeholder="Title" id="addQuestionAnswer2"></span>
				        <span>(C)<input type="text" class="form-control" placeholder="Title" id="addQuestionAnswer3"></span>
				        <span>(D)<input type="text" class="form-control" placeholder="Title" id="addQuestionAnswer4"></span>
			      	</div>
			      	<p> Explanation: </p>
			        <textarea class="form-control" id='addQuestionExplanation' rows="2" value="explanation">
			        </textarea>
			        <p> Link: </p>
			        <input type="text" class="form-control" id='addQuestionLink' placeholder="Reference Link">
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary" onclick="addNewQuestionToServer()">Submit</button>
			      </div>
		    </div>
		  </div>
		</div>
	</div>
		<!--JS Script-->
		<script type="text/javascript" src="/javascripts/createjs.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery-ui.custom.min.js"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="/javascripts/questionGame.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.knob.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.ccountdown.js"></script>
		<script type="text/javascript" src="/javascripts/init.js"></script>
</body>
</html>