#wrapper {
	width: 100%;
	height: 100%;
}

.questionPanel{
	width:70%;
	margin: 0 auto;
}

#gameStage{
	width:100%;
	margin: 0 auto;
}

#timeCounterDiv{
	text-align: center;
	position:relative;
}

.game-lifebar{
	position:relative;
}

.game-lifebar > div{
	background:#00FA00;
}