#wrapper {
	width: 100%;
	height: 100%;
}

.questionPanel{
	width:70%;
	margin: 0 auto;
}

#gameStage{
	width:100%;
	margin: 0 auto;
}

#timeCounterDiv{
	text-align: center;
	position:relative;
	height:120px;
}

.game-lifebar{
	position:absolute;
	width:100%;
	margin-top: 20px;
}

.game-lifebar > div{
	background:#0DFF9B;
}

.redLargeFont{
	color: red;
	font: 42px;
}